body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:darkred;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section-div {
    background-color: black;
    border-radius: 25px;
    margin: 18px;
    padding-bottom: 20px;
}

h1 {
    color: darkgrey;
    text-align: center;
    font-size: 43px;
    font-family: Consolas;
}

h2 {
    color: darkgrey;
    text-align: center;
    font-size: 25px;
    font-family: Consolas;
}

.about-me-div {
    border: solid;
    border-color: darkgrey;
    border-radius: 0px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.about-me-p {
    margin: 10px;
    color: darkgrey;
    font-size: 18px;
    font-family: Consolas;
    line-height: 2;
}

.project-table {
    width: 75%;
    border: solid;
    border-color: darkgrey;
    border-radius: 66px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

.projects-td {
    color: darkgrey;
    font-size: 18px;
    font-family: Consolas;
    width: 34%;
    align-content:center;
}

.project-title {
    color: darkgrey;
    font-size: 25px;
    font-family: Consolas;
    padding:1.8%;
}

.project-explanation {
    color: darkgrey;
    font-size: 18px;
    font-family: Consolas;
    line-height: 2;
    padding:1.8%;
}

.contact-me-table {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

    .contact-me-td {
        text-align:center;
    }

#top{
    bottom:1%;
}

#about-me-section{
    top:10px;
}

.brand{
    font-family:Consolas;
}


.menu-link {
    margin-top:auto;
    margin-bottom:auto;
    margin-left:18px;
    color:darkgrey;
    font-family:Consolas;
}

    .menu-link:hover {
        color: #ffffff;
        text-decoration: none;
        cursor:pointer;
    }
.border-radiusImportant{
    border-bottom-left-radius:25px !important;
}